body{
    width: 700px;
    height: 700px;
    border: solid 10px;
}

div {position: relative;}

.square1{
    display: inline-block;
    width: 455px;
    height: 455px;
    background: red;
}

.square2{
    display: inline-block;
    width: 455px;
    height: 455px;
    top: -214px; 
    left: 245px;
    background: blue;

}

.square3{
    display: inline-block;
    width: 455px;
    height: 455px;
    top: -799px; 
    left: 124.5px;
    background: rgb(19, 243, 19);

}